<!--

<html>
<head>

</head>
<body>



 <form action="/formData"  method="post">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="remember"> Remember me</label>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>

<a href="/formData"> <button type="submit" class="btn btn-default">Submit</button> </a>
</body>
</html>
-->

<!DOCTYPE html>
<html>
  <meta charset="utf-8">

<head>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/style3.css"> 
</head>

<body>

<div class="container">

  <div class="row justify-content-center">
    <h3 class="text-center"> VR Invoke Text Editor Prototype 3</h3>
  </div>

<!-- Learn about this code on MDN: https://developer.mozilla.org/en-US/docs/Web/API/HTMLTextAreaElement -->

<form action="/formData"  method="post" name="myForm">
     <p>  <b>Beginning Common Tags </b> </p>
<p>[&nbsp;<span  class="intLink" onclick="insertMetachars('&lt;!DOCTYPE html&gt;\n','\n');">DOCTYPE html</span> |
          <span class="intLink" onclick="insertMetachars('&lt;html&gt;\n','\n&lt;\/html&gt;');">html</span> |
          <span class="intLink" onclick="insertMetachars('&lt;head&gt;\n','\n&lt;\/head&gt;');">head</span> 

      &nbsp;]</p>
<!--     <p>  <b>Head Tags (need seperate page for this)  </b></p>
<p>[&nbsp;<span class="intLink" onclick="insertMetachars('&lt;head&gt;\n','\n&lt;\/head&gt;\n');">head</span> |
  <span class="intLink" onclick="insertMetachars('&lt;meta charset=\'utf-8\'&gt;\n','\n');">meta charset="utf-8"</span>  |
          <span class="intLink" onclick="insertMetachars('&lt;title&gt;\n','\n&lt;\/title&gt;');">title</span> | 
          <span class="intLink" onclick="var newURL=prompt('Enter the full URL for the link');if(newURL){insertMetachars('&lt;a href=\u0022'+newURL+'\u0022&gt;','&lt;\/a&gt;');}else{document.myForm.myTxtArea.focus();}">URL</span> | 
          <span class="intLink" onclick="insertMetachars('\n&lt;code&gt;\n','\n&lt;\/code&gt;\n');">code</span> | <span class="intLink" onclick="insertMetachars(' :-)');">smile</span> &nbsp;]</p>

     <p> <b> Head Tags (need seperate page for this) </b> </p>
<p>[&nbsp;<span class="intLink" onclick="insertMetachars('&lt;head&gt;\n','\n&lt;\/head&gt;\n');">head</span> |
          <span class="intLink" onclick="insertMetachars('&lt;html&gt;\n','\n&lt;\/html&gt;');">html</span> | 
          <span class="intLink" onclick="var newURL=prompt('Enter the full URL for the link');if(newURL){insertMetachars('&lt;a href=\u0022'+newURL+'\u0022&gt;','&lt;\/a&gt;');}else{document.myForm.myTxtArea.focus();}">URL</span> | 
          <span class="intLink" onclick="insertMetachars('\n&lt;code&gt;\n','\n&lt;\/code&gt;\n');">code</span> | <span class="intLink" onclick="insertMetachars(' :-)');">smile</span> &nbsp;]</p> -->
<p><textarea name="myTxtArea" id="myTxtArea" class="txta"rows="10" cols="70">  </textarea></p>
      <button type="submit" class="btn btn-primary">Next: Metadata</button>
      <button type="reset" class="btn btn-primary">Reset</button>
</form>





 
</div>  <!-- Containter Div -->

  <script type="text/javascript" src="js/code.js"></script>
</body>
</html>
